
html {
    scroll-behavior: smooth;
}

#overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #fafafa;
}

#spinner-container {
    position: relative;
    top: 50%;
    width: 100px;
    margin: auto;
    transform: translateY(-50%);
}

.mobile-nav-bar {
    height: 50px;
}

.stockx-logo {
    height: 26px;
}

#stockx-logo-wrapper {
    padding: 10px;
}

#login-container {
    max-width: 100%;
}

.access-wrap.login-wrap,
.access-wrap.signup-wrap {
    padding-top: 0;
    min-height: 100vh;
}

.access-wrap .access-toggle {
    margin: 0 16px;
}

#navbar-brand-logo-dark {
    line-height: 50px;
    height: 50px;
}

.social-error-message {
    bottom: 250px;
    width: 90%;
    top: auto;
    position: absolute;
    text-align: center;
    color: red;
}

#site-body {
    width: 100%;
    background: #ffffff;
}

#overlay[localized].languageLoaded {
    display: none;
}

.login-body {
    border: none;
}

#login-wrapper {
    background: #ffffff;
}

#reset-container {
    border: none;
    padding: 4px 16px;
    height: 300px;
}

#password-body {
    background: #ffffff;
    width: 500px;
    height: 300px;
}

#password-reset-header {
    margin: 44px 0 0 0;
}

#reset-container-text {
    width: 100%;
}

#rest-text {
    padding: 0 0 20px 0;
    width: 100%;
}

#back-link {
    margin: 16px;
}

#btn-reset {
    margin-top: 10px;
}

#back-link {
    margin: 30px;
    cursor: pointer;
}

.back-text {
    margin-left: 10px;
}

.captcha-container {
    margin: 10px 0;
}

#password-reset-header {
    font-family: 'proxima-nova', sans-serif;
    font-size: 32px;
    font-weight: 100;
    color: #010101;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.password-container {
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.password-reset-container {
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    width: 385px;
    height: 250px;
    margin-top: 12px;
    border: solid 0.5px #e0e0e0;
    background-color: #ffffff;
}

#reset-container {
    height: 250px;
    border: solid 0.5px #e0e0e0;
    background-color: #ffffff;
    padding: 16px;
}

#reset-container-text {
    margin: auto;
    width: 90%;
}

#reset-text {
    padding: 20px 0px;
    width: 85%;
    margin: auto;
    font-family: 'proxima-nova', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #010101;
}

.email-text {
    margin-top: 10px;
    margin-left: 18px;
    font-family: 'proxima-nova', sans-serif;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #010101;
}

#site-header nav .navbar-brand {
    margin: auto;
}

#site-header nav {
    min-height: 40px;
}

.navbar {
    margin-bottom: 0px;
}

.component-page {
    align-items: center;
    min-height: 24em;
    justify-content: center;
}

.social-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

/* Custom Social Icon Style */
.fa-stack {
    font-size: 14px;
}

.social-button-text {
    margin-left: -4px;
    letter-spacing: 0;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    text-transform: none;
}

.fa-facebook-f {
    color: #3b5998;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-apple {
    color: #000000;
}

.fa-google {
    background: #34a853 linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) linear-gradient(to top left, transparent 49%, #fbbc05 50%) linear-gradient(-40deg, transparent 53%, #ea4335 54%) linear-gradient(45deg, transparent 46%, #4285f4 48%) no-repeat 0 25% 0 75%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.btn {
    height: 50px;
    padding: 4px;
    margin: 4px 2px;
    min-width: 50px;
    width: 99%;
}

.btn-facebook i,
.btn-twitter i,
.btn-apple i,
.btn-google i {
    padding: unset;
}

#apple-btn, #facebook-btn,
#twitter-btn, #google-btn {
    background-color: #FFF;
    color: #0F0F0F;
    border: solid #0F0F0F 1px;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

#apple-button-text, #google-button-text,
#twitter-button-text, #facebook-button-text {
    margin-left: -10px;
}

i.fa-circle-notch {
    color: rgba(221, 221, 221, 0.6);
    font-size: 20px;
}

i.fa-circle-notch.overlay {
    color: rgba(221, 221, 221, 0.6);
    font-size: 80px;
    z-index: 3;
}

/* Horizontal rule style */
.hr-with-logo .center-text {
    color: #949494;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.hr-with-logo.email-option {
    padding-right: unset;
    padding-left: unset;
    margin-top: 8px;
}

.form-error-container {
    background: #fff3f3;
    border: 2px solid #ff6060;
    border-radius: 5px;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

#error-message {
    word-break: break-word;
}

#tab-container {
    padding: 16px;
}

.account-create .signup-form,
.account-login .login-form,
.account-create .signup-bottom,
.account-login .login-bottom,
.hr-with-logo.email-option {
    background: #fff;
}

.access-wrap .access-toggle {
    margin: 6px 16px 0px 16px;
    height: 50px;
}

.toggle-option.option-active {
    border: 2px solid transparent !important;
    border-bottom: 2px solid #010101 !important;
    color: #010101 !important;
}

.toggle-option:active {
    border: 2px solid transparent !important;
    border-bottom: 2px solid #cecece !important;
}

.access-wrap .access-toggle .toggle-option {
    border: 2px solid transparent;
    border-bottom: 2px solid #e0e0e0;
    font-family: 'proxima-nova', sans-serif;
    color: #616161;
    font-weight: 600;
    font-size: 14px;
    padding: 14px;
}

form {
    margin-top: 8px;
}

.form-link a {
    color: #0F0F0F;
    font-weight: bold;
}

#btn-forgot-password {
    color: #0F0F0F;
    float: right;
    margin: auto;
    font-size: 12px;
    margin: 0 0 24px 0;
}

label {
    margin-bottom: 0px;
    font-size: 12px;
}

.access-wrap,
.component-page {
    padding-bottom: 0px;
}

.button.right-button.button-black.disabled {
    background: #c7c7c7;
}

.component-page.mobile {
    padding-bottom: 0px;
}

.social-signup-button,
.social-login-button {
    display: none;
    font-size: 14px;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 500;
    padding: 12px;
    margin: 0px;
}

.social-signup-button.active,
.social-login-button.active {
    display: inline-block;
}

.field {
    height: 48px;
    margin: 0px 6px;
    border: 0px;
    width: 97%;
    padding: 16px 10px 5px;
}

.form-link.tspp {
    font-family: 'proxima-nova', sans-serif;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    padding: 0px;
    color: #949494;
}

.terms, .privacy {
    display: inline-block;
}

#login-terms-span {
    text-align: center;
}

.site-body {
    margin: auto;
}

.form-link-wrapper-signup {
    text-align: left;
    color: #010101;
    margin: 0px 0px 24px 0px !important;
}

.form-link-wrapper-login {
    color: #010101;
    margin: 0px !important;
}

.button.button-black {
    background: #0F0F0F;
    color: #fff;
    border: none;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 348px;
    margin: auto;
}

#btn-signup,
#btn-login,
#btn-reset {
    font-size: 14px;
    letter-spacing: 0.5px;
    height: 50px;

    padding: 0px;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 600;
}

#btn-gdpr-accept,
#btn-gdpr-reject {
    font-size: 14px;
    padding: 0 15px;
    height: 50px;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 600;
}

#btn-reset {
    width: 100%;
}

input:focus ~ .floating-label,
input:not(:focus):not(:placeholder-shown) ~ .floating-label,
div input:focus ~ .floating-label,
div input:not(:focus):not(:placeholder-shown) ~ .floating-label {
    top: 8px;
    bottom: 10px;
    left: 16px;
    font-size: 10px;
    opacity: 1;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 15px;
    transition: 0.2s ease all;
    color: #949494;
    font-size: 16px;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 2px;
    border: solid 1px #e0e0e0;
}

.styled-checkbox:hover + label:before {
    background: #f5f5f5;
    border-radius: 2px;
    border: solid 1px #0F0F0F;
}

.styled-checkbox:checked + label:before {
    background: #ffffff;
    border-radius: 2px;
    border: solid 1px #0F0F0F;
}

.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 7px;
    background: #0F0F0F;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #0F0F0F, 4px 0 0 #0F0F0F, 4px -2px 0 #0F0F0F, 4px -4px 0 #0F0F0F, 4px -6px 0 #0F0F0F, 4px -8px 0 #0F0F0F;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

input {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transform-origin: left;
}

.password-toggle {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    float: right;
    color: #949494;
    padding-right: 16px;
}

#login-terms {
    justify-content: center;
    margin-top: 8px;
}

.password-input-row {
    display: flex;
    flex-direction: row;
}

.form-row {
    border-radius: 2px;
    border: 1px solid #e5e7ea;
    margin-bottom: 8px;
    position: relative;
    height: 50px;
}

.form-row:focus-within {
    border: 1px solid #000000;
}

#password-login,
#password-signup {
    flex-grow: 2;
    border: none;
    margin: 0px 0px 0px 6px;
}

#password-login:focus,
#password-signup:focus {
    outline: none;
}

.password-text {
    font-family: 'proxima-nova', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #010101;
    margin: 0 0 16px 0;
}

#signup-button-spinner,
#login-button-spinner,
#gdpr-button-spinner {
    display: none;
}

#twitter-button-spinner,
#facebook-button-spinner,
#apple-button-spinner,
#google-button-spinner {
    position: relative;
}

.button {
    padding: 17px 18px;
}

.page-container {
    background: #fafafa;
    width: 100%;
}

#gdpr {
    margin-bottom: 80px;
}

#gdpr-container {
    width: 100%;
    text-align: left;
}

.gdpr-body-header {
    font-size: 16px;
    font-weight: 500;
}

.gdpr-body-text {
    font-size: 12px;
    font-weight: 500;
    color: #969799;
}

#gdpr-header {
    font-family: 'proxima-nova', sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.31px;
    color: #010101;
    padding: 20px 20px 0 20px;
}

#gdpr-subheader {
    font-family: 'proxima-nova', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #969799;
    margin-top: 14px;
    padding: 0 20px;
}

#gdpr-subheader-links > a {
    font-weight: bold;
    color: #009e55;
}

#gdpr-subheader-links {
    margin-top: 16px;
}

#gdpr-body-container {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 16px;
    text-align: left;
}

#gdpr-button-row {
    width: 100%;
    height: 100px;
    padding-top: 24px;
    position: fixed;
    bottom: 0px;
    background: #ffffff;
    box-shadow: inset 0 0.5px 0 0 #e5e7ea;
}

.button-white {
    background: #ffffff;
    border: solid 0.5px #e5e7ea;
}

@media (max-width: 400px) {
    .btn.android-specific .social-button-text {
        margin-left: -10px;
    }
}

@media (min-width: 768px) {
    #login-container {
        flex: none;
        max-width: 400px;
        margin: auto;
    }

    #login-wrapper {
        background: none;
    }

    #stockx-logo-wrapper {
        padding: 27px;
    }

    #site-header nav .navbar-brand img {
        height: 60px;
    }

    .access-wrap.login-wrap,
    .access-wrap.signup-wrap {
        padding-top: 80px;
    }

    .mobile-nav-bar {
        height: auto;
    }

    .btn-facebook,
    .btn-twitter,
    .btn-apple,
    .btn-google {
        padding: 0px;
    }

    .social-error-message {
        font-size: 16px;
        top: 30px;
        width: 100%;
        color: red;
        bottom: auto;
    }

    #site-body {
        background: #fafafa;
    }

    .login-body {
        background: #fff;
        border: solid 1px #e0e0e0;
        border-radius: 4.5px;
    }

    #password-body {
        background: #fafafa;
    }

    #btn-reset {
        margin-top: 5px;
    }

    #btn-gdpr-accept {
        width: 125px;
    }

    #signup-password-toggle {
        padding-top: 5px;
    }

    .social-login-button,
    .social-login-button.active,
    .social-signup-button,
    .social-signup-button.active {
        padding: 17px 12px;
    }

    #gdpr-container {
        text-align: center;
    }

    #gdpr {
        width: 60%;
        margin: auto;
        margin-bottom: 120px;
    }

    #gdpr-header {
        font-family: 'proxima-nova', sans-serif;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: -0.31px;
        color: #000000;
        margin-top: 30px;
    }

    #gdpr-subheader {
        font-family: 'proxima-nova', sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #969799;
        margin-top: 14px;
    }

    #gdpr-body-container {
        width: 100%;
        border-radius: 1.5px;
        border: solid 0.5px #eeeeee;
        background-color: #ffffff;
        padding: 40px;
        margin-top: 16px;
    }

    #gdpr-button-row {
        padding-top: 15px;
        height: 80px;
    }
}



